<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<title>DevDocs</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../stylesheets/index.css">
</head>
<body>

	<header class="header" role="banner">
		<nav class="navigation" role="navigation">
			<div class="button-group">
				<button type="button" class="button" id="back-button" title="Show the previous page" disabled>
					<span class="icon" data-glyph="left-open-big"></span>
					<span aria-hidden>Back</span>
				</button>
				<button type="button" class="button" id="forward-button" title="Show the next page" disabled>
					<span class="icon" data-glyph="right-open-big"></span>
					<span aria-hidden>Forward</span>
				</button>
			</div>

			<button type="button" class="button" id="home-button" title="Go to the homepage" disabled>
				<span class="icon" data-glyph="home"></span>
				<span aria-hidden>Home</span>
			</button>
		</nav>

		<div class="network-status">
			<span class="icon" data-glyph="signal"></span>
			<span class="network-status-text" id="network-status-text">Offline</span>
		</div>
	</header>

	<main class="main" role="main">
		<webview id="webview"></webview>
	</main>

	<script>require('../javascripts/index.js');</script>

</body>
</html>
